body{
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: linen;
    color: rgb(214, 182, 53);
    font-family: 'Cormorant Garamond', 'serif';

}

h3{
    color: olive;
}

p{
    font-style: italic;
}

header h1{
    width: 50%;
    font-family: serif;
    color: olive;
    font-style: italic;
}
header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
header nav ul li{
    padding:10px 15px;
}

header nav ul li a{
    text-decoration: none;
    color:olive;;
}

header nav ul li a:hover{
    border-bottom: 1px solid black;
}

span{
    font-style: italic;
    color: olive;
    
}

.opening{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;

}

.FirstPara{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    color: rgb(214, 182, 53);
    
}

img{
    max-width: 30%;
    height: 70%;

}

.container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 20px;
    background-color: white;
    
}

.containertwo{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 20px;
    background-color: white;
}

footer{
    color: olive;
}
/*------------------------------------------------------------*/
/* Accommodation*/


.Openingtwo{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 20px;
    
}

.Openingtwo h3{
    font-style: normal;
}

.onebedroom{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
}
.onebedroom div p{
    font-style: italic;
}

.doublebedroom{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    
}

.doublebedroom p{
    font-style: italic;
}

.Presidential{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
}
.Presidential p{
    font-style: italic;
}

/* About us*/

.story{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    padding-bottom: 100px;
    
}

.storyw{
    font-size: 18px;
}

/* image resolution*/


 @media only screen and (max-width:425px){
    body{
        width: 100%;
        margin: 0;
        padding:10px;
        font-size: smaller;

    }

    header nav ul{
        padding: 0;
        margin: 0;
        display: flex;
        flex: column;
        align-items: center;
    }
}

